/* Repointed existing images to updated local copies */
.controller.xbox {
    background: url(img/controller-bg.svg);
    height: 630px;
    width: 750px;
}

.xbox .button {
    position: absolute;
    background: url(img/abxy-buttons.svg);
    width: 48px;
    height: 48px;
}

.xbox .quadrant {
    position: absolute;
    background: url(img/transparency.svg);
    height: 45px;
    width: 45px;
    top: 258px;
    left: 354px;
    z-index: 0;
}

/* Swapped background position values relative to defaults. */
.xbox .a {
    background-position: -49px 0;
    top: 108px;
    left: 55px;
}

.xbox .b {
    background-position: 0 0;
    top: 58px;
    right: 0px;
}

.xbox .x {
    background-position: 48px 0;
    top: 58px;
    left: 4px;
}

.xbox .y {
    background-position: -98px 0;
    left: 55px;
    top: 7px;
}