.controller.xbox {
    background: url(controller-bg.svg);
    height: 630px;
    width: 750px;
}

/* Swapped background position values relative to defaults. */
.xbox .a {
    background-position: -49px 0;
    top: 108px;
    left: 55px;
}

.xbox .b {
    background-position: 0 0;
    top: 58px;
    right: 0px;
}

.xbox .x {
    background-position: 48px 0;
    top: 58px;
    left: 4px;
}

.xbox .y {
    background-position: -98px 0;
    left: 55px;
    top: 7px;
}